<div class="body">
  <div class="container">
    <div class="row">
      <div class="col-xs-9">
        <h2>RECIPE一覧</h2>
        <% @recipes.each do |recipe| %>
          <div class="col-xs-3">
            <div class="recipe-card">
              <div class="row">
                <div class="center-block">
                  <%= attachment_image_tag recipe, :image, :fill, 100, 100, fallback: "no_image.jpg", size:'100x100' %>
                </div>
              </div>
              <div class="row">
                <table>
                  <tr>
                    <th><%= recipe.user.username %></th>
                  </tr>
                  <tr>
                    <td><%= recipe.updated_at.strftime("%Y-%m-%d %H:%M") %></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
