<div class="body">
  <div class="container">
    <div class="row">
      <div class="col-xs-offset-2 col-xs-3">
        <h2>RECIPE一覧</h2>
        <div class="row">
          <% @recipes.each do |recipe| %>
            <div class="recipe-card">
              <div class="row">
                <%= attachment_image_tag recipe, :image, :fill, 200, 200, fallback: "no_image.jpg", size:'200x200' %>
              </div>
              <div class="row">
                <%= recipe.user.username %>
              </div>
              <div class="row">
                <%= recipe.updated_at.strftime("%Y-%m-%d %H:%M") %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
