<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">レシピグラマー一覧</h1>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <% @users.each do |user| %>
        <div class="col-xs-3">
          <%= link_to user_path(user) do %>
            <%= attachment_image_tag user, :profile_image, fallback: "no_image.jpg" %>
          <% end %>
          <div class="title"><%= link_to user.username, user_path(user) %></div>
        </div>
        <div class="content">
        </div>
      <% end %>
    </div>
  </div>
</section>

